@if (!cardPrimary) {
<div [class]="classType" [routerLink]="['/post', post.id]">
  @if (!cardSecond) {
  <div class="container-card--img w-[200px]">
    <img class="rounded-[8px]" [src]="post.image" [alt]="post.title">
  </div>
  }
  <div class="card-content w-[200]">
    <div class="container-card--info flex flex-col gap-2">
      <div class="container-card--title flex content-center justify-between">
        <h2 class="font-bold">{{post.title}}</h2>
        <span class="text-gray-400">{{post.created_at | customDate}} ago</span>
      </div>
      <div class="container-card--description">
        <p>{{post.description}}</p>
      </div>
      <div class="container-card--tag flex content-center justify-between">
        <strong class="text-blue-400">{{post.category}}</strong>
        <span class="text-gray-400">{{post.last_read_at | customDate}} read</span>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
}

@if (cardTerthy) {
<div class="relative max-w-md rounded-lg overflow-hidden shadow-lg cursor-pointer mb-2" [routerLink]="['/post', post.id]">
  <img [src]="post.image" [alt]="post.title" class="w-full h-48 object-cover">
  <!-- Capa oscura encima de la imagen -->
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>
  <div class="absolute inset-0 p-4 text-white flex flex-col justify-between">
    <div>
      <div class="flex gap-3">
        <h2 class="text-sm font-bold">{{post.title}}</h2>
        <!-- Tiempo de publicación -->
        <span>{{post.created_at | customDate}} ago</span>
      </div>
      <p class="text-sm mt-1">{{post.description}}</p>
    </div>
    <div class="flex items-center justify-between text-sm">
      <a href="#" class="text-blue-400 font-semibold">{{post.category}}</a>
      <div class="flex items-center">
        <span class="mr-2">{{post.last_read_at | customDate}} read</span>
      </div>
    </div>
  </div>
</div>
}