<mat-tab-group>
  @for (item of listItems; track $index) {
  <mat-tab label="{{item}}"> {{item}} </mat-tab>
  }
</mat-tab-group>


<section class="w-[100%] px-[1rem]">
  <div class="flex gap-4 max-[900px]:flex-col items-center">
    <div class="container--carrucel basis-[60%]">
      <app-carrucel [slideData2]="slideData" />
    </div>
    <div class="container--cards flex flex-col gap-8 basis-[40%]">
      @for (post of posts.slice(-3); track $index) {
      <app-card [post]="post" />
      }
    </div>
  </div>
</section>